.sidebar {
    display: flex;
    flex-direction: column;
    gap: 32px;

    .sidebar__title {
        font-size: 1.5rem;
        font-weight: 700;
    }
}

.input {
    display: flex;
    gap: 8px;
    border-radius: 16px;
    width: 80px;

    &_wrapper {
        margin-top: 8px;
        padding: 4px 8px;
        border: 1px solid var(--secondary-color);
    }
}