<aside class="sidebar">
    <div class="input input_wrapper">
        <i class="fa-solid fa-filter input_icon"></i>
        <input class="input__item" placeholder="Filter">
    </div>
    <h2 class="sidebar__title">
        HTML
    </h2>

  <!--Вот тут БЭМ использован хорошо. Можно кстати вынести всё что с 11-29 строку в отдельный  компонент. Через инпуты можно передавать заголовок и массив заголовков ссылок-->
    <div class="menu">
        <h2 class="menu__title">Tutorials</h2>

      <!--И вот тут БЭМ использован хорошо-->
        <ul class="list">
            <li class="list__item">
                <a href="#" class="list__link">HTML basics</a>
            </li>
            <li class="list__item">
                <a href="#" class="list__link">Introduction to HTML</a>
            </li>
            <li class="list__item">
                <a href="#" class="list__link">Multimedia and embedding</a>
            </li>
            <li class="list__item">
                <a href="#" class="list__link">HTML tables</a>
            </li>
        </ul>
    </div>

    <div class="menu">
        <h2 class="menu__title">References</h2>
        <ul class="list">
            <li class="list__item">
                <a href="#" class="list__link">HTML basics</a>
            </li>
            <li class="list__item">
                <a href="#" class="list__link">Introduction to HTML</a>
            </li>
            <li class="list__item">
                <a href="#" class="list__link">Multimedia and embedding</a>
            </li>
            <li class="list__item">
                <a href="#" class="list__link">HTML tables</a>
            </li>
        </ul>
    </div>
</aside>
