.navigation {
    gap: 16px;
    display: grid;
    grid-template-columns: minmax(260px, 2fr) repeat(4, minmax(0, 1fr));
    grid-template-areas:
        "social menu1 menu2 menu3 menu4";
}

.social {
    grid-area: social;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.social-logo {
    display: flex;
    flex-direction: column;
    gap: 16px;

    &__item {
        color: var(--secondary-color);
        font-weight: 700;
    }
}

.social-icons {
    display: flex;
    gap: 16px;

    &__icon {
        color: var(--secondary-color);
    }
}

.menu {
    &__heading {
        margin-bottom: 16px;
    }
}

.list {
    display: flex;
    flex-direction: column;
    gap: 12px;

    &__link {
        color: var(--secondary-color);
        font-size: 0.875rem;
    }
}

@media screen and (max-width: 768px) {
    .navigation {
        gap: 40px;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "social  social"
            "menu1  menu2"
            "menu3  menu4";
    }
}