<div class="navigation">
    <div class="social">
        <div class="social-logo">
            <a href="#" class="social-logo__item">mdn</a>
            <p class="social-logo__text">Your blueprint for a better internet.</p>
        </div>
        <div class="social-icons">
            <i class="fa-brands fa-twitter fa-lg social-icons__icon"></i>
            <i class="fa-brands fa-github fa-lg social-icons__icon"></i>
            <i class="fa-solid fa-rss fa-lg social-icons__icon"></i>
        </div>
    </div>
    <div class="menu">
        <h2 class="menu__heading">
            MDN
        </h2>
        <ul class="list">
            <li class="list__item">
                <a href="#" class="list__link">About</a>
            </li>
            <li class="ist__item">
                <a href="#" class="list__link">Blog</a>
            </li>
            <li class="list__item">
                <a href="#" class="list__link">Careers</a>
            </li>
            <li class="list__item">
                <a href="#" class="list__link">Advertise with us</a>
            </li>
        </ul>
    </div>
    <div class="menu">
        <h2 class="menu__heading">
            Support
        </h2>
        <ul class="list">
            <li class="list__item">
                <a href="#" class="list__link">Product help</a>
            </li>
            <li class="list__item">
                <a href="#" class="list__link">Report an issue</a>
            </li>
        </ul>
    </div>
    <div class="menu">
        <h2 class="menu__heading">
            Our communities
        </h2>
        <ul class="list">
            <li class="list__item">
                <a href="#" class="list__link">MND Community</a>
            </li>
            <li class="list__item">
                <a href="#" class="list__link">MND Forum</a>
            </li>
            <li class="list__item">
                <a href="#" class="list__link">MND Chat</a>
            </li>
        </ul>
    </div>
    <div class="menu">
        <h2 class="menu__heading">
            Developers
        </h2>
        <ul class="list">
            <li class="list__item">
                <a href="#" class="list__link">Web Technologies</a>
            </li>
            <li class="list__item">
                <a href="#" class="list__link">Learn Web Development</a>
            </li>
            <li class="list__item">
                <a href="#" class="list__link">MND Plus</a>
            </li>
            <li class="list__item">
                <a href="#" class="list__link">Hacks Blog</a>
            </li>
        </ul>
    </div>
</div>
