<div class="layuot">
    <h1 class="title">
        Страница навигации
    </h1>
    <div class="container">
        <div class="task">
            <p class="description">
                Форма со всеми доступными контролами, встаиваемыми медиаресурсами, иконками fontawesome.
            </p>
            <button class="link" routerLink="/html">
                Проверить
            </button>
        </div>
        <div class="task">
            <p class="description">
                Вёрстка страницы, методология БЭМ
            </p>
            <button class="link" routerLink="/mdn">
                Проверить
            </button>
        </div>
        <div class="task">
            <p class="description">
                ...
            </p>
            <button class="link" routerLink="/test">
                Проверить
            </button>
        </div>
    </div>
</div>