.layuot{
    width: 1200px;
    margin: 0 auto;
    padding: 30px 0px;
    display: flex;
    flex-direction: column;
    gap: 30px;

    .title{
        font-size: 36px;
    }

    .container{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;

        .task{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            padding: 16px;
            height: 120px;
            border:  1px solid orange;

            .link{
                padding: 4px;
                width: 100px;
                border:  1px solid green;
            }
        }
    }
}