<!--Не вижу смысла в двух врапперах, достаточно одного-->
<div class="layout-wrapper">
    <div class="content-wrapper">
      <!--Fixed плохое название + нигде не используется-->
        <header class="header fixed">
            <div class="logo">
                <img src="assets/css1/logo.svg" alt="logo" class="logo__image">
            </div>
            <div class="navigation">
                <nav class="menu">
                    <ul class="menu-list">
                        <li class="menu-list-item">
                            <a href="#" class="menu-list-item__link"><!--Тут БЭМ использован хорошо-->
                                References
                            </a>
                        </li>
                        <li class="menu-list-item">
                            <a href="#" class="menu-list-item__link">
                                Guides
                            </a>
                        </li>
                        <li class="menu-list-item">
                            <a href="#" class="menu-list-item__link">
                                Plus
                            </a>
                        </li>
                        <li class="menu-list-item">
                            <a href="#" class="menu-list-item__link">
                                Blog
                            </a>
                        </li>
                        <li class="menu-list-item">
                            <a href="#" class="menu-list-item__link">
                                Play
                            </a>
                        </li>
                        <li class="menu-list-item">
                            <a href="#" class="menu-list-item__link">
                                AI Help
                            </a>
                        </li>
                    </ul>
                </nav>

                <div class="controls">
                    <button class="controls__btn btn">
                        <i class="fa-solid fa-moon"></i>
                        Theme
                    </button>
                      <!--Если у тебя блок в блоке, то он не обязан содержать в названии название родительского блока.
                      Тут достаточно просто search-bar. Суть блоков в бэме, в том, что они не привязаны к своему окружению. То есть ты можешь просто скопипастить этот блок, вставить куда угодно и он будет идеально выглядеть.
                       По той же причине блоку нельзя задавать внешнюю геометрию (margin и тп). -->
                    <div class="controls-search">
                        <input class="controls-search__item" type="text"> <!--Тут норм применён бэм-->
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </div>
                    <a class="controls__auth" href="#">Log in</a>
                    <button class="controls__btn btn auth">
                        Sing up for free
                    </button>
                </div>
            </div>
        </header>
        <div class="breadcrumb">
            <ul class="breadcrumb-list">
                <li class="breadcrumb-list-item">
                    <a href="#" class="breadcrumb-list-item__link">References</a>
                    <i class="fa-solid fa-chevron-right breadcrumb-list-item__arrow"></i>
                </li>
                <li class="breadcrumb-list-item">
                    <a href="#" class="breadcrumb-list-item__link">HTML</a>
                </li>
            </ul>
        </div>
        <main class="main">
            <aside class="sidebar">
                <div class="sidebar-input">
                    <i class="fa-solid fa-filter"></i>
                    <input class="sidebar-input__input" placeholder="Filter">
                </div>
                <h2 class="sidebar__title">
                    HTML
                </h2>
                <div class="sidebar-list-wrapper">
                    <h2 class="sidebar-list-wrapper__title">Tutorials</h2>
                    <ul class="sidebar-list">
                        <li class="sidebar-list-item">
                            <a href="#" class="sidebar-list-item__link">HTML basics</a>
                        </li>
                        <li class="sidebar-list-item">
                            <a href="#" class="sidebar-list-item__link">Introduction to HTML</a>
                        </li>
                        <li class="sidebar-list-item">
                            <a href="#" class="sidebar-list-item__link">Multimedia and embedding</a>
                        </li>
                        <li class="sidebar-list-item">
                            <a href="#" class="sidebar-list-item__link">HTML tables</a>
                        </li>
                    </ul>
                </div>
                <div class="sidebar-list-wrapper">
                    <h2 class="sidebar-list-wrapper__title">References</h2>
                    <ul class="sidebar-list">
                        <li class="sidebar-list-item">
                            <a href="#" class="sidebar-list-item__link">HTML basics</a>
                        </li>
                        <li class="sidebar-list-item">
                            <a href="#" class="sidebar-list-item__link">Introduction to HTML</a>
                        </li>
                        <li class="sidebar-list-item">
                            <a href="#" class="sidebar-list-item__link">Multimedia and embedding</a>
                        </li>
                        <li class="sidebar-list-item">
                            <a href="#" class="sidebar-list-item__link">HTML tables</a>
                        </li>
                    </ul>
                </div>
            </aside>
            <div class="content">
                <h1 class="content__title">
                    HTML: HyperText Markup Language
                </h1>
                <div class="content__text">
                    HTML (HyperText Markup Language) is the most basic building block of the Web. It defines the meaning
                    and structure of web content. Other technologies besides HTML are generally used to describe a web
                    page's appearance/presentation (CSS) or functionality/behavior (JavaScript).
                </div>
                <div class="content__text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ultricies pellentesque gravida.
                    Nullam fermentum mauris quis urna egestas, non suscipit neque malesuada. Phasellus at mattis libero,
                    eget blandit mauris. Nunc interdum pharetra velit, et fermentum justo tristique non. Nam vitae
                    molestie mauris, eget porta magna. Duis sed placerat erat. Morbi mollis purus nec iaculis dapibus.
                    Vestibulum sollicitudin non urna vitae lacinia. Integer ullamcorper mauris ut orci pharetra, et
                    laoreet velit tincidunt. Vestibulum elit lectus, lacinia eget aliquam id, venenatis a enim. Etiam
                    lacinia placerat feugiat. Vivamus tincidunt neque quam, a mattis lectus gravida ut. Nullam eu metus
                    egestas, sagittis sem sollicitudin, dignissim turpis. Sed tristique congue nibh eu faucibus. Fusce
                    lacus lacus, consequat egestas volutpat sed, dictum a ante.
                </div>
                <div class="content__text">
                    In tempor bibendum metus eu ultrices. Donec quis nulla et ipsum commodo blandit non eu quam. Nam
                    lacinia ligula quis est sagittis ultrices. Donec vulputate sit amet quam eget lobortis. Etiam
                    viverra lectus magna. Vestibulum facilisis lobortis faucibus. Mauris euismod pellentesque tempor.
                    Morbi ac est mauris. Sed nisi nisi, sagittis id neque eu, sollicitudin malesuada ex. Quisque ornare
                    justo non magna accumsan, quis scelerisque nunc ultricies. Aliquam non nisi vitae magna tincidunt
                    ultrices ac et metus. Donec pulvinar mauris a nulla iaculis, eget finibus tortor tristique. In
                    pulvinar enim et efficitur tempor. Praesent dapibus nec lorem ut placerat. Pellentesque congue
                    facilisis mauris. Duis non commodo odio. Maecenas vitae odio in risus vestibulum imperdiet. Maecenas
                    sed risus portami tincidunt maximus eu ac odio. Pellentesque id felis accumsan metus pulvinar congue vitae vel ex.
                    Suspendisse pharetra varius ipsum, sit amet luctus purus varius ut. Vivamus eleifend ultrices dui
                    nec facilisis. Quisque et iaculis ex. In porttitor eros pretium felis tempor faucibus vel nec quam.
                    Quisque vulputate leo dignissim, pretium nibh id, dignissim magna. Praesent efficitur tempor sapien,
                    ac mattis metus ultrices sed. Donec sit amet ex nec leo condimentum luctus.
                    In tempor bibendum metus eu ultrices. Donec quis nulla et ipsum commodo blandit non eu quam. Nam
                    lacinia ligula quis est sagittis ultrices. Donec vulputate sit amet quam eget lobortis. Etiam
                    viverra lectus magna. Vestibulum facilisis lobortis faucibus. Mauris euismod pellentesque tempor.
                    Morbi ac est mauris. Sed nisi nisi, sagittis id neque eu, sollicitudin malesuada ex. Quisque ornare
                    justo non magna accumsan, quis scelerisque nunc ultricies. Aliquam non nisi vitae magna tincidunt
                    ultrices ac et metus. Donec pulvinar mauris a nulla iaculis, eget finibus tortor tristique. In
                    pulvinar enim et efficitur tempor. Praesent dapibus nec lorem ut placerat. Pellentesque congue
                    facilisis mauris. Duis non commodo odio. Maecenas vitae odio in risus vestibulum imperdiet. Maecenas
                    sed risus portami tincidunt maximus eu ac odio. Pellentesque id felis accumsan metus pulvinar congue vitae vel ex.
                    Suspendisse pharetra varius ipsum, sit amet luctus purus varius ut. Vivamus eleifend ultrices dui
                    nec facilisis. Quisque et iaculis ex. In porttitor eros pretium felis tempor faucibus vel nec quam.
                    Quisque vulputate leo dignissim, pretium nibh id, dignissim magna. Praesent efficitur tempor sapien,
                    ac mattis metus ultrices sed. Donec sit amet ex nec leo condimentum luctus.
                </div>
            </div>
            <div class="sections">
                <h2 class="sections__title">
                    In this article
                </h2>
                <ul class="sections-list">
                    <li class="sections-list-item">
                        <a href="#" class="sections-list-item__link">Key resources</a>
                    </li>
                    <li class="sections-list-item">
                        <a href="#" class="sections-list-item__link">Bigginer's tutorials</a>
                    </li>
                    <li class="sections-list-item">
                        <a href="#" class="sections-list-item__link">Advanced topics</a>
                    </li>
                    <li class="sections-list-item">
                        <a href="#" class="sections-list-item__link">Reference</a>
                    </li>
                    <li class="sections-list-item">
                        <a href="#" class="sections-list-item__link">Related topics</a>
                    </li>
                </ul>
            </div>
        </main>
        <footer class="footer">
            <div class="footer-navigation">
                <div class="social">
                    <div class="social-logo">
                        <a href="#" class="social-logo__item">mdn</a>
                        <p class="social-logo__text">Your blueprint for a better internet.</p>
                    </div>
                    <div class="social-icons">
                        <i class="fa-brands fa-twitter fa-lg social-icons__icon"></i>
                        <i class="fa-brands fa-github fa-lg social-icons__icon"></i>
                        <i class="fa-solid fa-rss fa-lg social-icons__icon"></i>
                    </div>
                </div>
                <div class="nav-links-column">
                    <h2 class="nav-links-column__heading">
                        MDN
                    </h2>
                    <ul class="nav-links-list">
                        <li class="nav-links-list-item">
                            <a href="#" class="nav-links-list-item__link">About</a>
                        </li>
                        <li class="nav-links-list-item">
                            <a href="#" class="nav-links-list-item__link">Blog</a>
                        </li>
                        <li class="nav-links-list-item">
                            <a href="#" class="nav-links-list-item__link">Careers</a>
                        </li>
                        <li class="nav-links-list-item">
                            <a href="#" class="nav-links-list-item__link">Advertise with us</a>
                        </li>
                    </ul>
                </div>
                <div class="nav-links-column">
                    <h2 class="nav-links-column__heading">
                        Support
                    </h2>
                    <ul class="nav-links-list">
                        <li class="nav-links-list-item">
                            <a href="#" class="nav-links-list-item__link">Product help</a>
                        </li>
                        <li class="nav-links-list-item">
                            <a href="#" class="nav-links-list-item__link">Report an issue</a>
                        </li>
                    </ul>
                </div>
                <div class="nav-links-column">
                    <h2 class="nav-links-column__heading">
                        Our communities
                    </h2>
                    <ul class="nav-links-list">
                        <li class="nav-links-list-item">
                            <a href="#" class="nav-links-list-item__link">MND Community</a>
                        </li>
                        <li class="nav-links-list-item">
                            <a href="#" class="nav-links-list-item__link">MND Forum</a>
                        </li>
                        <li class="nav-links-list-item">
                            <a href="#" class="nav-links-list-item__link">MND Chat</a>
                        </li>
                    </ul>
                </div>
                <div class="nav-links-column">
                    <h2 class="nav-links-column__heading">
                        Developers
                    </h2>
                    <ul class="nav-links-list">
                        <li class="nav-links-list-item">
                            <a href="#" class="nav-links-list-item__link">Web Technologies help</a>
                        </li>
                        <li class="nav-links-list-item">
                            <a href="#" class="nav-links-list-item__link">Learn Web Development</a>
                        </li>
                        <li class="nav-links-list-item">
                            <a href="#" class="nav-links-list-item__link">MND Plus</a>
                        </li>
                        <li class="nav-links-list-item">
                            <a href="#" class="nav-links-list-item__link">Hacks Blog</a>
                        </li>
                    </ul>
                </div>
            </div>
            <hr class="divider">
            <div class="info">
                <div class="info-links">
                    <img src="assets/css1/logo-footer.svg" alt="" class="info-links__logo">
                    <ul class="info-list">
                        <li class="info-list-item">
                            <a href="" class="info-list-item__link">Website Privacy Notice</a>
                        </li>
                        <li class="info-list-item">
                            <a href="" class="info-list-item__link">Cookies</a>
                        </li>
                        <li class="info-list-item">
                            <a href="" class="info-list-item__link">Legal</a>
                        </li>
                        <li class="info-list-item">
                            <a href="" class="info-list-item__link">Community Participation Guidelines</a>
                        </li>
                    </ul>
                </div>
                <div class="info-low-text">
                    <p class="info-low-text__text">
                        Visit
                        <a href="#" class="info-low-text__text__link">Mozilla Corporation’s</a>
                        not-for-profit parent, the Mozilla Foundation.
                    </p>
                    <p class="info-low-text__text">
                        Portions of this content are ©1998–2023 by individual mozilla.org contributors. Content
                        available under
                        <a href="#" class="info-low-text__text__link"> a Creative Commons license.</a>
                    </p>
                </div>
            </div>
        </footer>
    </div>
</div>
