.info {
    display: flex;
    flex-direction: column;
    gap: 48px;
    font-size: 0.75rem;

    .links {
        display: flex;
        align-items: center;
        gap: 32px;

        .list {
            display: flex;
            gap: 16px;

            &__link {
                color: var(--secondary-color);
                text-decoration: underline;
            }
        }
    }

    .visit {
        &__link {
            color: var(--secondary-color);
            text-decoration: underline;
        }
    }
}