<div class="info">
    <div class="links">
        <img src="assets/css1/logo-footer.svg" alt="logo-footer" class="links__logo">
        <ul class="list">
            <li class="list__item">
                <a href="#" class="list__link">Website Privacy Notice</a>
            </li>
            <li class="list__item">
                <a href="#" class="list__link">Cookies</a>
            </li>
            <li class="list__item">
                <a href="#" class="list__link">Legal</a>
            </li>
            <li class="list__item">
                <a href="#" class="list__link">Community Participation Guidelines</a>
            </li>
        </ul>
    </div>
    <div class="visit">
        <p class="visit__text">
            Visit
            <a href="#" class="visit__link">Mozilla Corporation’s</a>
            not-for-profit parent, the Mozilla Foundation.
        </p>
        <p class="visit__text">
            Portions of this content are ©1998–2023 by individual mozilla.org contributors. Content
            available under
            <a href="#" class="visit__link"> a Creative Commons license.</a>
        </p>
    </div>
</div>
