<div class="content">
    <h1 class="content__title">
        HTML: HyperText Markup Language
    </h1>
    <div class="content__text">
        HTML (HyperText Markup Language) is the most basic building block of the Web. It defines the meaning
        and structure of web content. Other technologies besides HTML are generally used to describe a web
        page's appearance/presentation (CSS) or functionality/behavior (JavaScript).
    </div>
    <div class="content__text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ultricies pellentesque gravida.
        Nullam fermentum mauris quis urna egestas, non suscipit neque malesuada. Phasellus at mattis libero,
        eget blandit mauris. Nunc interdum pharetra velit, et fermentum justo tristique non. Nam vitae
        molestie mauris, eget porta magna. Duis sed placerat erat. Morbi mollis purus nec iaculis dapibus.
        Vestibulum sollicitudin non urna vitae lacinia. Integer ullamcorper mauris ut orci pharetra, et
        laoreet velit tincidunt. Vestibulum elit lectus, lacinia eget aliquam id, venenatis a enim. Etiam
        lacinia placerat feugiat. Vivamus tincidunt neque quam, a mattis lectus gravida ut. Nullam eu metus
        egestas, sagittis sem sollicitudin, dignissim turpis. Sed tristique congue nibh eu faucibus. Fusce
        lacus lacus, consequat egestas volutpat sed, dictum a ante.
    </div>
    <div class="content__text">
        In tempor bibendum metus eu ultrices. Donec quis nulla et ipsum commodo blandit non eu quam. Nam
        lacinia ligula quis est sagittis ultrices. Donec vulputate sit amet quam eget lobortis. Etiam
        viverra lectus magna. Vestibulum facilisis lobortis faucibus. Mauris euismod pellentesque tempor.
        Morbi ac est mauris. Sed nisi nisi, sagittis id neque eu, sollicitudin malesuada ex. Quisque ornare
        justo non magna accumsan, quis scelerisque nunc ultricies. Aliquam non nisi vitae magna tincidunt
        ultrices ac et metus. Donec pulvinar mauris a nulla iaculis, eget finibus tortor tristique. In
        pulvinar enim et efficitur tempor. Praesent dapibus nec lorem ut placerat. Pellentesque congue
        facilisis mauris. Duis non commodo odio. Maecenas vitae odio in risus vestibulum imperdiet. Maecenas
        sed risus portami tincidunt maximus eu ac odio. Pellentesque id felis accumsan metus pulvinar congue
        vitae vel ex.
        Suspendisse pharetra varius ipsum, sit amet luctus purus varius ut. Vivamus eleifend ultrices dui
        nec facilisis. Quisque et iaculis ex. In porttitor eros pretium felis tempor faucibus vel nec quam.
        Quisque vulputate leo dignissim, pretium nibh id, dignissim magna. Praesent efficitur tempor sapien,
        ac mattis metus ultrices sed. Donec sit amet ex nec leo condimentum luctus.
        In tempor bibendum metus eu ultrices. Donec quis nulla et ipsum commodo blandit non eu quam. Nam
        lacinia ligula quis est sagittis ultrices. Donec vulputate sit amet quam eget lobortis. Etiam
        viverra lectus magna. Vestibulum facilisis lobortis faucibus. Mauris euismod pellentesque tempor.
        Morbi ac est mauris. Sed nisi nisi, sagittis id neque eu, sollicitudin malesuada ex. Quisque ornare
        justo non magna accumsan, quis scelerisque nunc ultricies. Aliquam non nisi vitae magna tincidunt
        ultrices ac et metus. Donec pulvinar mauris a nulla iaculis, eget finibus tortor tristique. In
        pulvinar enim et efficitur tempor. Praesent dapibus nec lorem ut placerat. Pellentesque congue
        facilisis mauris. Duis non commodo odio. Maecenas vitae odio in risus vestibulum imperdiet. Maecenas
        sed risus portami tincidunt maximus eu ac odio. Pellentesque id felis accumsan metus pulvinar congue
        vitae vel ex.
        Suspendisse pharetra varius ipsum, sit amet luctus purus varius ut. Vivamus eleifend ultrices dui
        nec facilisis. Quisque et iaculis ex. In porttitor eros pretium felis tempor faucibus vel nec quam.
        Quisque vulputate leo dignissim, pretium nibh id, dignissim magna. Praesent efficitur tempor sapien,
        ac mattis metus ultrices sed. Donec sit amet ex nec leo condimentum luctus.
    </div>
</div>