<div class="sections">
    <h2 class="sections__title">
        In this article
    </h2>
    <ul class="sections-list">
        <li class="sections-list__item">
            <a href="#" class="sections-list__link">Key resources</a>
        </li>
        <li class="sections-list__item">
            <a href="#" class="sections-list__link">Bigginer's tutorials</a>
        </li>
        <li class="sections-list__item">
            <a href="#" class="sections-list__link">Advanced topics</a>
        </li>
        <li class="sections-list__item">
            <a href="#" class="sections-list__link">Reference</a>
        </li>
        <li class="sections-list__item">
            <a href="#" class="sections-list__link">Related topics</a>
        </li>
    </ul>
</div>