<header class="header" [class.header__mobile]="isBurgerIconActive">
    <div class="logo">
        <img src="assets/css1/logo.svg" alt="logo" class="logo__image">
        <i 
            [class.fa-bars]="!isBurgerIconActive"
            [class.fa-xmark]="isBurgerIconActive"
            class="fa-solid logo__burger"
            (click)="toggleBurgerIcon()"
        ></i>
    </div>
    <div [ngClass]="isBurgerIconActive ? 'header__show-nav' : 'navigation'">
        <nav class="menu">
            <ul class="list">
                <li class="list__item">
                    <a href="#" class="list__link">
                        References
                    </a>
                </li>
                <li class="list__item">
                    <a href="#" class="list__link">
                        Guides
                    </a>
                </li>
                <li class="list__item">
                    <a href="#" class="list__link">
                        Plus
                    </a>
                </li>
                <li class="list__item">
                    <a href="#" class="list__link">
                        Blog
                    </a>
                </li>
                <li class="list__item">
                    <a href="#" class="list__link">
                        Play
                    </a>
                </li>
                <li class="list__item">
                    <a href="#" class="list__link">
                        AI Help
                    </a>
                </li>
            </ul>
        </nav>
        <app-controls></app-controls>
    </div>
</header>