.header {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;

    &__show-nav {
        display: flex;
        flex-direction: column-reverse;
        max-height: 490px;
    }
}

.logo {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__burger {
        display: none;
        color: var(--secondary-color);
        width: 16px;
        height: 16px;
    }
}

.navigation {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    align-items: center;
}

.list {
    display: flex;
    gap: 16px;

    &__link {
        color: var(--secondary-color);
        padding: 8px;
    }
}

@media screen and (min-width: 991px) and (max-width: 1200px) {
    .list {
        gap: 0px;
    }
}

@media screen and (max-width: 990px) {
    .header {
        display: block;

        &__mobile {
            height: 570px;
        }
    }

    .logo {
        &__burger {
            display: block;
        }
    }

    .navigation {
        display: none;
    }

    .list {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        gap: 0px;

        &__item {
            padding: 8px;
            border-top: 1px solid var(--secondary-color);
        }
    }
}