<div class="control">
    <div class="theme">
        <button class="theme__btn" type="button">
            <i class="fa-solid fa-moon conrtols__icon"></i>
            Theme
        </button>
    </div>
    <div class="search search_theme">
        <input class="search__item" type="text">
        <i class="fa-solid fa-magnifying-glass conrtols__icon"></i>
    </div>
    <div class="auth">
        <a class="auth__log-in" href="#">Log in</a>
        <button class="auth__sign-in" type="button">
            Sing up for free
        </button>
    </div>
</div>
