<!--БЭМ блок или элемент должен быть в единственном числе-->
<div class="controls">
  <!--Всегда всегда стоит указывать аттрибут type у тега button. в противном случае он будет всегда 'submit'-->
    <button class="controls__btn">
        <i class="fa-solid fa-moon conrtols__icon"></i>
        Theme
    </button>
    <div class="search search_theme">
        <input class="search__item" type="text">
        <i class="fa-solid fa-magnifying-glass conrtols__icon"></i>
    </div>
    <a class="controls__auth" href="#">Log in</a>
  <!--Хорошо использован БЭМ-->
    <button class="controls__btn controls__btn_white">
        Sing up for free
    </button>
</div>
