@import "../../../../../mixins.scss";

.control {
    display: flex;
    align-items: center;
    gap: 20px;
}

.theme {
    &__btn {
        padding: 0px 4px;
    }
}

.auth {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;

    &__log-in {
        color: var(--secondary-color);
    }

    &__sign-in {
        padding: 8px;
        font-size: 14px;
        border-radius: 4px;
        background: var(--white);
        color: var(--primary-color);
    }
}

.search {
    width: 88px;
    border-radius: 16px;
    display: flex;
    align-items: center;
    gap: 10px;

    &_theme {
        padding: 7px;
        border: 1px solid var(--secondary-color);
    }

    .search__item {
        width: 40px;
    }
}

@include netbook {
    .control {
        gap: 8px;
    }
}

@include tablet- {
    .control {
        gap: 16px;
        flex-direction: column;
    }

    .theme {
        order: 0;
        align-self: flex-start;
    }

    .auth {
        gap: 16px;
        order: 1;
        flex-direction: column-reverse;
    }

    .search {
        order: 2;
        width: 320px;

        .search__item {
            width: 320px;
        }
    }
}