.control {
    display: flex;
    align-items: center;
    gap: 20px;

    .controls__btn {
        &_white {
            background: var(--white);
            color: var(--primary-color);
        }
    }

    .controls__auth {
        color: var(--secondary-color);
    }
}

.search {
    width: 88px;
    border-radius: 16px;
    display: flex;
    align-items: center;
    gap: 10px;

    &_theme {
        padding: 7px;
        border: 1px solid var(--secondary-color);
    }

    .search__item {
        width: 40px;
    }
}